<template>
	<header class="site-header">
		<headerTempHeader />
		<div class="container bgz">
			<Logo />
			<headerSiteSearch
				:isActive="searchActive"
				@search-toggler="searchToggle"
			/>
			<headerMainNav :isActive="navActive" @nav-toggler="navToggle" />
		</div>
		<div
			class="overlay"
			:class="{ overlayActive: navActive || searchActive }"
			@click="overlayToggle"
		></div>
	</header>
</template>

<script>
export default {
	name: 'Header',
	data() {
		return {
			navActive: false,
			searchActive: false
		}
	},
	methods: {
		navToggle() {
			this.navActive = !this.navActive
		},
		searchToggle() {
			this.searchActive = !this.searchActive
		},
		overlayToggle() {
			if (this.navActive) {
				this.navActive = !this.navActive
			} else {
				this.searchActive = !this.searchActive
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.overlay {
	display: none;
	position: fixed;
	top: 104px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.overlayActive {
	display: block !important;
}
</style>

<style lang="scss">
.bzg {
	padding: 0;
	margin: 0;
}

.site-header {
	display: flex;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	height: auto;
	box-shadow: 0px 0px 4px rgba($black, 0.1);
	flex-direction: column;

	& > .container {
		display: flex;
		align-items: center;
		padding: 12px 0 12px 0;
		max-height: 72px;
		width: 100%;
		@media #{$small} {
			width: 100%;
		}
		@media #{$medium} {
			width: 93%;
		}
		@media #{$large} {
			width: 93%;
		}
		@media #{$extra_large} {
			width: 90%;
			max-width: 1440px;
		}
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	@media #{$large} {
		height: auto;
	}
}
</style>
