<template>
	<div class="bzg_c" data-col="l3,m1,s1">
		<div class="nav-toggler">
			<i class="bzi-hamburger-menu bzi-1_2x" @click="toggler"></i>
		</div>
		<ul class="main-nav" :class="{ active: isActive }">
			<li id="togglerClose" class="nav-item">
				<i class="bzi-close bzi-1_2x" @click="toggler"></i>
			</li>
			<li id="cart" class="nav-item">
				<i class="bzi-cart bzi-1_2x"></i
				><span class="nav-label">Shoping Cart</span>
			</li>
			<li id="noLoginAction" class="nav-item">
				<button class="btn--ghost-primary">Masuk</button>
				<button class="btn--primary">Daftar</button>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'NoLoginNav',
	props: {
		isActive: Boolean
	},
	methods: {
		toggler() {
			this.$emit('nav-toggler')
		}
	}
}
</script>

<style lang="scss" scoped>
.bzg_c {
	padding: 0;
	@media #{$medium} {
		display: flex;
		justify-content: center;
	}
}
.main-nav {
	list-style: none;
	margin: 0;
	display: flex;
	gap: 12px;
	background-color: $white;
	position: absolute;
	top: 32px;
	gap: 0;
	right: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 1em;
	transform: translateX(100%);
	transition: ease 0.5s;
	z-index: 5;

	#noLoginAction {
		order: -1;
	}

	@media #{$small} {
		width: 60%;
	}

	@media #{$medium} {
		width: 40%;
	}

	@media #{$large} {
		width: auto;
		flex: 0 0 auto;
		flex-direction: row;
		align-items: center;
		transform: translateX(0);
		position: static;
		height: 100%;
		background-color: transparent;

		#noLoginAction {
			order: 0;
		}
	}
}

#togglerClose {
	order: -1;
	@media #{$large} {
		display: none;
	}
}

.nav-label {
	margin-left: 16px;
	@media #{$large} {
		display: none;
	}
}

#noLoginAction {
	display: flex;
	justify-content: space-between;
	padding: 16px 5% 16px 5%;
	@media #{$large} {
		gap: 1em;
		margin-left: 1em;
	}
}

.nav-item {
	cursor: pointer;
	width: 100%;
	padding: 10px 10% 10px 10%;
	border-bottom: 1px solid $black10;

	@media #{$large} {
		border-bottom: none;
	}
}

.btn--ghost-primary,
.btn--primary {
	border-radius: 12px;
}

#cart {
	@media #{$large} {
		border-right: 1px solid $black10;
		padding-right: 2em;
	}
}

.nav-toggler {
	cursor: pointer;
	display: flex;
	justify-content: center;

	@media #{$large} {
		display: none;
	}
}

.active {
	transform: translate(0) !important;
}
</style>
