<template>
	<div class="bzg_c" data-col="l7,m10,s10">
		<div class="site-search">
			<li id="category" class="nav-item bzg_c" data-col="l2,m2,s1">
				<i class="bzi-menu bzi-1_2x"></i><span class="nav-label">Kategory</span>
			</li>
			<li class="nav-item bzg_c" data-col="l10,m10,s10">
				<div class="search-bar">
					<input
						type="text"
						class="form-input"
						placeholder="Cari produk kamu disini"
						@click="searchClick"
					/>
					<button class="btn--primary btn-search">
						<i class="bzi-search"></i>
					</button>
					<headerTabSearchHistory :active="isActive" />
				</div>
			</li>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SiteSearch',
	props: {
		isActive: Boolean
	},
	methods: {
		searchClick() {
			this.$emit('search-toggler')
		}
	}
}
</script>

<style lang="scss" scoped>
.nav-item {
	list-style: none;
	margin: 0;
	display: flex;
	gap: 12px;
	cursor: pointer;
	position: relative;
}

.nav-label {
	display: none;
	@media #{$medium} {
		display: block;
	}
}

.bzg_c {
	padding: 0;
}

.form-input {
	width: 100%;
	background-color: $bg-secondary;
	padding: 8px 16px 8px 16px;
	border-radius: 10px 0 0 10px;
	height: 100%;
}

.site-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 1em;
}

.btn--primary {
	border-radius: 0 5px 5px 0;
	padding: 8px 16px 8px 16px;
}

.search-bar {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}
</style>
