<template>
	<div class="tab-history" :class="{ active: active }">
		<h4>Terakhir Dicari</h4>
		<ul class="history">
			<li v-for="history in history" :key="history" class="history-item">
				<span><i class="bzi-user"></i>{{ history }}</span
				><i class="bzi-close"></i>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'TabSearchHistory',
	data() {
		return {
			history: ['Baju Koko', 'Kemeja Kerja', 'Sepatu Vans', 'Topi']
		}
	},
	props: {
		active: Boolean
	}
}
</script>

<style lang="scss" scoped>
.tab-history {
	position: absolute;
	display: none;
	flex-direction: column;
	top: 50px;
	right: -8%;
	background-color: $white;
	border-radius: 10px;
	border: 1px solid $black10;
	width: 160%;
	padding: 1em;
	cursor: default;
	z-index: 4;

	@media #{$small} {
		width: 100%;
		right: 0;
	}
}
.history {
	padding: 0;
	margin: 0;

	&-item {
		span {
			display: flex;
			gap: 12px;
			cursor: pointer;
		}
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		padding: 6px 0 6px 0;
	}
}

.bzi-close {
	cursor: pointer;
}

h4 {
	font-size: 1.25em;
}

.active {
	display: flex;
}
</style>
