<template>
	<div class="temp-header">
		<ul class="container">
			<li class="nav-item">FAQ</li>
			<li class="nav-item">Voucher</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'TempHeader'
}
</script>

<style lang="scss" scoped>
ul {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
	gap: 2em;
}

.temp-header {
	width: 100%;
	background-color: $bg-secondary;
	font-size: 0.85em;
	padding: 5px 0 5px 0;
	max-height: 32px;
}

.nav-item {
	list-style: none;
}

.container {
	display: flex;
	align-items: center;

	@media #{$small} {
		width: 100%;
	}
	@media #{$medium} {
		width: 93%;
	}
	@media #{$large} {
		width: 93%;
	}
	@media #{$extra_large} {
		width: 90%;
		max-width: 1440px;
	}
}
</style>
