<template>
	<div class="bzg bzg--no-gutter">
		<div class="bzg_c" data-col="m8,l6,s10">
			<VueSlickCarousel :arrows="true" :dots="true">
				<img src="~assets/img/Banner1.png" alt="" />
				<img src="~assets/img/Banner2.png" alt="" />
			</VueSlickCarousel>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Carousel'
}
</script>

<style lang="scss" scoped>
.bzg {
	display: flex;
	padding: 2em 0 2em 0;
	margin: 0;
	background-color: $bg-secondary;
	justify-content: center;
}
</style>
