<template>
	<div class="bzg bzg--no-gutter">
		<h3 class="bzg_c title" data-col="l10">Kategori Produk</h3>
		<div class="bzg_c" data-col="l8">
			<VueSlickCarousel :arrows="true" :slidesPerRow="13" :dots="false">
				<img src="~assets/img/icon/icon-cincin.svg" alt="" />
				<img src="~assets/img/icon/icon-dompet.svg" alt="" />
				<img src="~assets/img/icon/icon-kalung.svg" alt="" />
				<img src="~assets/img/icon/icon-anting.svg" alt="" />
				<img src="~assets/img/icon/icon-anting.svg" alt="" />
				<img src="~assets/img/icon/icon-cinderamata.svg" alt="" />
				<img src="~assets/img/icon/icon-ikatKepala.svg" alt="" />
				<img src="~assets/img/icon/icon-syal.svg" alt="" />
				<img src="~assets/img/icon/icon-ikatPinggang.svg" alt="" />
				<img src="~assets/img/icon/icon-arloji.svg" alt="" />
				<img src="~assets/img/icon/icon-topi.svg" alt="" />
				<img src="~assets/img/icon/icon-bracelet.svg" alt="" />
				<img src="~assets/img/icon/icon-tas.svg" alt="" />
			</VueSlickCarousel>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CategoryList',
	plugins: ['~/plugins/vue-slick-carousel.js']
}
</script>

<style lang="scss" scoped>
.bzg {
	padding: 2em 0 2em 0;
	width: 100%;
}

.title {
	font-weight: bold;
	font-size: 1.5em;
	font-family: $base_font_family;
}
</style>
