<template>
	<footer class="site-footer">
		<div class="container">
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="s5,m3">
					<img src="~assets/img/site-logo.png" width="100%" alt="" />
					<p class="cpright">&copy; 2022 Copyright to Rocket Mall</p>
				</div>
				<div class="bzg_c" data-col="m3">
					<h5 class="title">Bantuan dan Panduan</h5>
					<ul>
						<li>Hubungi Kami</li>
						<li>Syarat dan Ketentuan</li>
						<li>Kebijakan Privasi</li>
						<li>FAQ</li>
					</ul>
				</div>
				<div class="bzg_c" data-col="m2">
					<h5 class="title">Informasi</h5>
					<ul>
						<li>Tentang Kami</li>
						<li>Jadi Mitra</li>
					</ul>
				</div>
				<div class="bzg_c" data-col="m2">
					<h5 class="title">Bahasa</h5>
					<ul>
						<li>ID | EN</li>
					</ul>
				</div>
				<div class="bzg_c" data-col="m2">
					<h5 class="title">Ikuti Kami</h5>
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped>
.site-footer {
	padding: 2em 0 2em 0;
	border-top: 3px solid $bg-secondary;
}

.cpright {
	padding: 0 0 0 1em;
	color: $black40;
}
.title {
	padding: 0;
	margin: 0 0 0.83333em 0;
}

.bzg_c {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 25px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0 0 0.83333em 0;
}
</style>
