<template>
	<nuxt-link to="/" class="site-logo bzg_c" data-col="l2,m2,s4">
		<img src="~assets/img/site-logo.png" alt="" />
	</nuxt-link>
</template>

<style lang="scss">
.site-logo {
	padding: 0;
	img {
		max-width: 100%;
	}
}
</style>
