<template>
	<div class="bzg bzg--no-gutter">
		<h3 class="bzg_c title" data-col="l10">Kategori Produk</h3>
		<div class="bzg_c" data-col="l10"></div>
	</div>
</template>

<script>
export default {
	name: 'NewProductSection'
}
</script>

<style lang="scss" scoped>
.title {
	font-weight: bold;
	font-size: 1.5em;
	font-family: $base_font_family;
}
</style>
