@font-face {
	font-family: 'bz-icon';
	src: url('~assets/fonts/bz-icon.eot?t29lr4');
	src: url('~assets/fonts/bz-icon.eot?t29lr4#iefix') format('embedded-opentype'),
		url('~assets/fonts/bz-icon.ttf?t29lr4') format('truetype'),
		url('~assets/fonts/bz-icon.woff?t29lr4') format('woff'),
		url('~assets/fonts/bz-icon.svg?t29lr4#bz-icon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='bzi-'],
[class*=' bzi-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'bz-icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	// line-height: normal;
	display: inline-block;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		display: inline-block;
	}
}

.bzi-2x:before {
	transform: scale(2);
}
.bzi-1_5x:before {
	transform: scale(1.5);
}
.bzi-1_2x:before {
	transform: scale(1.2);
}
.bzi-0_5x:before {
	transform: scale(0.5);
}

.bzi-180:before {
	transform: rotate(180deg);
}

// Icons
.bzi-hamburger-menu:before {
	content: '\e900';
}
.bzi-menu:before {
	content: '\e901';
}
.bzi-user:before {
	content: '\e902';
	color: #505565;
}
.bzi-cart:before {
	content: '\e903';
	color: #505565;
}
.bzi-search:before {
	content: '\e909';
}
.bzi-angle-down:before {
	content: '\e910';
}
.bzi-angle-up:before {
	content: '\e911';
}
.bzi-angle-right:before {
	content: '\e918';
}
.bzi-angle-left:before {
	content: '\e919';
}
.bzi-close:before {
	content: '\e92c';
}
