<template>
	<div id="app" class="sticky-footer-container">
		<div class="sticky-footer-container-item">
			<Header />
		</div>
		<nuxt />
		<div class="sticky-footer-container-item">
			<Footer />
		</div>
	</div>
</template>

<style lang="scss"></style>
