<template>
	<main class="site-main">
		<Carousel />
		<div class="container">
			<CategoryList />
			<NewProductSection />
		</div>
	</main>
</template>

<script>
export default {
	plugins: ['~/plugins/vue-slick-carousel.js'],
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Rocket Mall'
			})
		}
	}
}
</script>

<style lang="scss">
.site-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
</style>
